openapi: 3.1.0
info:
  title: 'Amazon Secrets Manager Passwords #UntagResource API'
  description: Amazon Secrets Manager helps you manage, retrieve, and rotate database credentials, API keys, and other secrets throughout their lifecycle. It provides centralized secrets management with built-in integration for Amazon RDS, Amazon Redshift, and Amazon DocumentDB, enabling automatic rotation of secrets without requiring application changes.
  version: '2017-10-17'
  contact:
    name: Kin Lane
    url: https://github.com/kinlane
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://secretsmanager.amazonaws.com
  description: Amazon Secrets Manager API
tags:
- name: '#UntagResource'
paths:
  /#UntagResource:
    post:
      operationId: UntagResource
      summary: Amazon Secrets Manager Untag Resource
      description: Removes specific tags from a secret. This operation is idempotent. If a requested tag is not attached to the secret, no error is returned.
      parameters:
      - name: X-Amz-Target
        in: header
        required: true
        schema:
          type: string
          enum:
          - secretsmanager.UntagResource
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/UntagResourceRequest'
      responses:
        '200':
          description: Successful response
      tags:
      - '#UntagResource'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UntagResourceRequest:
      type: object
      required:
      - SecretId
      - TagKeys
      properties:
        SecretId:
          type: string
          description: The ARN or name of the secret to untag.
        TagKeys:
          type: array
          items:
            type: string
          description: A list of tag key names to remove from the secret.
