openapi: 3.1.0
info:
  title: Amazon Secrets Manager Passwords Rotation API
  description: Amazon Secrets Manager helps you manage, retrieve, and rotate database credentials, API keys, and other secrets throughout their lifecycle. It provides centralized secrets management with built-in integration for Amazon RDS, Amazon Redshift, and Amazon DocumentDB, enabling automatic rotation of secrets without requiring application changes.
  version: '2017-10-17'
  contact:
    name: Kin Lane
    url: https://github.com/kinlane
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://secretsmanager.amazonaws.com
  description: Amazon Secrets Manager API
tags:
- name: Rotation
  description: Operations for rotating secrets.
paths:
  /#RotateSecret:
    post:
      operationId: RotateSecret
      summary: Amazon Secrets Manager Rotate Secret
      description: Configures and starts the asynchronous process of rotating the secret. If you include the configuration parameters, the operation sets the values for the secret and then immediately starts a rotation.
      parameters:
      - name: X-Amz-Target
        in: header
        required: true
        schema:
          type: string
          enum:
          - secretsmanager.RotateSecret
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/RotateSecretRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResponse'
              examples:
                RotateSecret200Example:
                  summary: Default RotateSecret 200 response
                  x-microcks-default: true
                  value:
                    ARN: arn:aws:secretsmanager:us-east-1:123456789012:secret:MySecret-a1b2c3
                    Name: MySecret
                    VersionId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      tags:
      - Rotation
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RotationRules:
      type: object
      properties:
        AutomaticallyAfterDays:
          type: integer
          description: The number of days between automatic scheduled rotations.
        Duration:
          type: string
          description: The length of the rotation window in hours.
        ScheduleExpression:
          type: string
          description: A cron or rate expression that defines the schedule for rotation.
    RotateSecretRequest:
      type: object
      required:
      - SecretId
      properties:
        SecretId:
          type: string
          description: The ARN or name of the secret to rotate.
        ClientRequestToken:
          type: string
        RotationLambdaARN:
          type: string
          description: The ARN of the Lambda rotation function.
        RotationRules:
          $ref: '#/components/schemas/RotationRules'
        RotateImmediately:
          type: boolean
          description: Whether to rotate the secret immediately.
    RotateSecretResponse:
      type: object
      properties:
        ARN:
          type: string
        Name:
          type: string
        VersionId:
          type: string
