openapi: 3.2.0
info:
  title: Amazon Secrets Manager Passwords API
  description: Amazon Secrets Manager helps you manage, retrieve, and rotate database credentials, API keys, and other secrets throughout their lifecycle. It provides centralized secrets management with built-in integration for Amazon RDS, Amazon Redshift, and Amazon DocumentDB, enabling automatic rotation of secrets without requiring application changes.
  version: '2017-10-17'
  contact:
    name: Kin Lane
    url: https://github.com/kinlane
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://secretsmanager.amazonaws.com
  description: Amazon Secrets Manager API
tags:
- name: Passwords
  description: Operations for generating passwords.
paths:
  /#GetRandomPassword:
    post:
      operationId: GetRandomPassword
      summary: Amazon Secrets Manager Get Random Password
      description: Generates a random password. You can use this operation to generate a password for a new secret or to change the value of an existing secret.
      parameters:
      - name: X-Amz-Target
        in: header
        required: true
        schema:
          type: string
          enum:
          - secretsmanager.GetRandomPassword
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/GetRandomPasswordRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRandomPasswordResponse'
              examples:
                GetRandomPassword200Example:
                  summary: Default GetRandomPassword 200 response
                  x-microcks-default: true
                  value:
                    ARN: arn:aws:secretsmanager:us-east-1:123456789012:secret:MySecret-a1b2c3
                    Name: MySecret
                    VersionId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      tags:
      - Passwords
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    GetRandomPasswordRequest:
      type: object
      properties:
        PasswordLength:
          type: integer
          description: The length of the password. Default is 32 characters.
        ExcludeCharacters:
          type: string
          description: A string of characters to exclude from the password.
        ExcludeNumbers:
          type: boolean
        ExcludePunctuation:
          type: boolean
        ExcludeUppercase:
          type: boolean
        ExcludeLowercase:
          type: boolean
        IncludeSpace:
          type: boolean
        RequireEachIncludedType:
          type: boolean
    GetRandomPasswordResponse:
      type: object
      properties:
        RandomPassword:
          type: string
          description: A string with the password.
