openapi: 3.2.0
info:
  title: 'Amazon Secrets Manager Passwords #TagResource #Tag Resource #Tag Resource API'
  description: Amazon Secrets Manager helps you manage, retrieve, and rotate database credentials, API keys, and other secrets throughout their lifecycle. It provides centralized secrets management with built-in integration for Amazon RDS, Amazon Redshift, and Amazon DocumentDB, enabling automatic rotation of secrets without requiring application changes.
  version: '2017-10-17'
  contact:
    name: Kin Lane
    url: https://github.com/kinlane
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://secretsmanager.amazonaws.com
  description: Amazon Secrets Manager API
tags:
- name: '#TagResource'
paths:
  /#TagResource:
    post:
      operationId: TagResource
      summary: Amazon Secrets Manager Tag Resource
      description: Attaches tags to a secret. Tags consist of a key name and a value. Tags are part of the secret's metadata and are not associated with specific versions of the secret.
      parameters:
      - name: X-Amz-Target
        in: header
        required: true
        schema:
          type: string
          enum:
          - secretsmanager.TagResource
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/TagResourceRequest'
      responses:
        '200':
          description: Successful response
      tags:
      - '#TagResource'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Tag:
      type: object
      properties:
        Key:
          type: string
          description: The key identifier or name of the tag.
        Value:
          type: string
          description: The string value associated with the key of the tag.
    TagResourceRequest:
      type: object
      required:
      - SecretId
      - Tags
      properties:
        SecretId:
          type: string
          description: The ARN or name of the secret to tag.
        Tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
